##################
# Discord Config #
##################
discord.bot.token=
discord.bot.prefix=!
discord.bot.name=
discord.bot.playing=
discord.bot.avatar.url=
discord.bot.avatar.type=png
discord.bot.processing=
discord.bot.assign.role=

####################
# ROChargen Config #
####################
rochargen.url=
rochargen.bg.min=
rochargen.bg.max=
rochargen.pos.min=
rochargen.pos.max=

######################
# DivinePride Config #
######################
divinepride.apiKey=
divinepride.baseexp=
divinepride.jobexp=
divinepride.drop=
divinepride.limit=

########################
# Rathena DB Locations #
########################
rathena.db.weapon=https://raw.githubusercontent.com/rathena/rathena/master/sql-files/item_db_re.sql
rathena.db.mob=https://raw.githubusercontent.com/rathena/rathena/master/sql-files/mob_db_re.sql

########################
# NovaRO Market Config #
########################
novaro.user=
novaro.pass=
novaro.remind.role=
novaro.remind.eventId=

#################
# Roster Config #
#################
roster.woe1.sid=
roster.woe1.range=
roster.woe1.namecol=
roster.woe1.attcol=
roster.woe1.startrow=
roster.woe1.announce=
roster.woe1.signup=
roster.woe1.admin=
roster.woe1.channel=
roster.woe2.sid=
roster.woe2.range=
roster.woe2.namecol=
roster.woe2.attcol=
roster.woe2.startrow=
roster.woe2.announce=
roster.woe2.admin=
roster.woe1.signup=
roster.woe2.channel=

#################
# Shivtr Config #
#################
shivtr.url=
shivtr.user=
shivtr.pass=

##################
# Bifrost Config #
##################
bifrost.python=
bifrost.mvpbot.location=